{% extends 'store/index.html' %}

{% block main %}
<body>
    <section>
        <div class="text-center mt-4 mb-4">
    <h3>Bienvenidos a Transportadoras MH: Innovando en el transporte de mascotas</h3>
        </div>
    </section>

    <h6>
    <section class="d-flex align-items-center mb-4">
        <div class="row mx-auto">
            <div class="col-12 col-md-8 mx-auto">
                <div class="intro-text mb-4"> 
                Este proyecto comenzó como una idea de negocio durante el año 2021 para hacer frente a las necesidades económicas surgidas a partir de la pandemia
                producto del COVID-19.
                Si bien, al comienzo no fue fácil, hoy luego de 2 años la idea tomó forma bajo el nombre de Transportadoras MH.
                <br>
                <br>
                En la actualidad, el negocio está abocado a la fabricación y venta de kennels bajo normas IATA para transporte de mascotas por vía área.
                Sin embargo, se ya están en desarrollo nuevas ideas que permitan comenzar a ofrecer nuevos productos y servicios a los clientes.
                <br>
                <br>
                Es por ello que hoy Transportadoras MH atraviesa una etapa de crecimiento con la cual busca expandir sus horizontes a través del desarrollo de una página web
                que le permita alcanzar un mayor número de clientes.
                </div>
            </div>

            <div class="col-12 col-md-8 mx-auto">
                <div class="intro-text mb-4">
                Mi nombre es Emanuel Ramos, tengo 27 años y trabajo desde hace 1 año como Analista de Control de Gestión en Molinos Río de la Plata.
                En mi rol actual desempeño un papel clave en el análisis y seguimiento de los indicadores clave de rendimiento (KPI), proporcionando información estratégica para
                la toma de decisiones.
                <br>
                <br>
                Mis responsabilidades incluyen la elaboración de informes financieros, análisis de rentabilidad por producto, seguimiento del presupuesto y proyecciones financieras.
                Mi objetivo profesional es seguir creciendo en el área de data analytics, machine learning y automatización de procesos.
                </div>
            </div>

            <div class="col-12 col-md-8 mx-auto">
                <div class="intro-text mb-4">
                Debido a lo mencionado, sobre el proyecto y mi perfil, asumí el desafío de desarrollar esta página web a través de Django aplicando Python.
                Convirtiendose en una gran oportunidad para conocer este leguaje de programación y las oportunidades que puede ofrecer en el ámbito de los negocios.
                </div>
            </div>
        </div>
    </section>
    </h6>
</body>
{% endblock %}