{% block footer %}
<footer class="text-center text-white mt-4" style="background-color: #607D8B">
   
    <hr class="text-dark">
    
    <div class="container">
      <!-- Section: Social media -->
      <section class="mb-3">
  
        <div class="text-white">
          <p>ventastransportadorasmh@gmail.com</p>
          <p><i class="fab fa-whatsapp"></i> +(549) 1123946744</p>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: white">
      © 2023 Copyright:
      <a class="text-white">MH</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}