{% block navbar %}
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <!-- Container wrapper -->
        <div class="container">    
        <!-- Toggle button -->
        <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent1"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
    
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link " href="{% url 'Home' %}">MH</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link " href="{% url 'ProductsCreate' %}">Create Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'About' %}">About</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link " href="{% url 'Home' %}">MH</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'About' %}">About</a>
            </li>
            {% endif %}
            
            </ul>
            <!-- Left links -->      
        </div>
        <!-- Collapsible wrapper -->
        
        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            {% if user.is_authenticated %}
            
                {% if messages %}
                
                {% for message in messages %}
                <li class="nav-item">
                <a class="nav-link">
                <p class="mb-0">{{ message }}</p>
                </a>
                </li>
                {% endfor %}                    

                {% endif %}

                <li class="nav-item">
                <a class="nav-link" href="{% url 'Edit' %}">¡Hi, {{ user.username }}!</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'Logout' %}" >Log Out</a>
                </li>
                <li class="nav-item">
                <a class="nav-link me-3" href="{% url 'Checkout' %}">
                <i class="fas fa-shopping-cart"></i>
                <span class="badge rounded-pill badge-notification bg-danger">0</span>
                </a>
                </li>
            {% else %}
                
                {% if messages %}
                    
                {% for message in messages %}
                <li class="nav-item">
                <a class="nav-link">
                <p class="mb-0">{{ message }}</p>
                </a>
                </li>
                {% endfor %}                    

                {% endif %}

                <li class="nav-item">
                <a class="nav-link" href="{% url 'Login' %}">Log In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'SignUp' %}">Sign Up</a>
                </li>
                {% endif %}

            </ul>
            </div>
        </div>
        <!-- Right elements -->
        
        </div>
        <!-- Container wrapper -->
    </nav>
</body>
{% endblock %}