{% extends 'store/index.html' %}

{% block main %}
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="{{ products.image.url }}" class="img-fluid" alt=""/>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        
                        {% if products.is_sale %}
                        <a href="">
                            <span class="badge bg-info me-1">On Sale</span>
                        </a>
                        <a href="">
                            <span class="badge bg-dark me-1"> {{ products.category }}</span>
                        </a>
                        
                        {% else %}
                        
                        <a href="">
                            <span class="badge bg-dark me-1"> {{ products.category }}</span>
                        </a>
                        {% endif %}   
                    </div>
                    
                    {% if products.is_sale %}
                    <p class="lead">
                        <span class="me-1">
                            <del>ARS {{ products.price }}</del>
                        </span>
                        <span>ARS {{ products.sale_price }}</span>
                    </p>

                    {% else %}
                        
                        <span>ARS {{ products.price }}</span>
                    {% endif %}

                    <strong><p style="font-size: 20px;">Description</p></strong>

                    <p>{{ products.description }}.</p>

                    {% if user.is_authenticated %}
                    <strong>We are currently experiencing cart issues. We will solve it as soon as possible!<p style="font-size: 20px;"></p></strong>
                    <form class="d-flex justify-content-left">
                        <!-- Default input -->
                        
                        <div class="form-outline me-1" style="width: 100px;">
                            <input type="number" value="1" class="form-control" min="1" disabled/>
                        </div>
                        <button class="btn btn-primary ms-1 btn-sm" type="submit" disabled>
                            Add to cart
                            <i class="fas fa-shopping-cart ms-1 btn-sm"></i>
                        </button>
                        <button class="btn btn-danger ms-2 btn-sm" type="submit" style="color: white;" disabled>
                            Remove from cart
                            <i class="fas fa-shopping-cart ms-1 btn-sm"></i>
                        </button>
                        <a href="{% url 'ProductsUpdate' products.id %}" class="btn btn-primary ms-2 btn-sm d-flex align-items-center">Edit</a>
                        <a href="{% url 'ProductsDelete' products.id %}" class="btn btn-danger ms-2 btn-sm d-flex align-items-center">Delete</a>
                    {% else %}
                        
                    {% endif %}
                    </form>
                </div>
                <!--Content-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
{% endblock %}